/* Styling for the header */
.app-header{
    display:flex;
    justify-content: flex-end;
    /* margin: 8px 20px; */
    gap: 8px;
}

/* STYLING THE SEARCH SECTION */
.search-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;

}